.heading {
  color: #e5b8f4;
  font-size: 3rem;
  background-color: #810ca8;
  padding-top: 1rem;
  height: 5rem;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 2rem;
}
